<div class="col">
    <div class="card text-center border-warning">
      <img src="<%= char.image %>" alt="Darth Vader" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title"><%= char.name %></h3>
        <p class="card-text affiliation"><%= char.affl[0] %></p>
      </div>
    </div>    
  </div>

