<%- include("partials/header"); -%>

<div class="card">
    <img src="" alt="alt"/>
    <div class="info">
        <ul>
            <li>Anakin</li>
            <li>Jedi</li>
        </ul>
    </div>
</div>

<%- include("partials/footer"); -%>