<%- include("partials/header"); -%>

<%- include("partials/nav"); -%>

<div id="not-found">
    <h1>404 Character not found</h1>
    <p>Please search in another galaxy</p>
</div>

<%- include("partials/footer"); -%>